/*
========================================================================
CUSTOM CSS STARTS HERE
========================================================================
*/
.rpl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
    background: #fff;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
}

.rpl-card {
    width: 415px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
}

.rpl-card img {
    width: 100%;
    display: block;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}

.rpl-card:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.rpl-des {
    position: absolute;
    width: 100%;
    height: 350px;
    bottom: 0;
    padding: 25px;
    color: #fff;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transition: all 0.3s ease-out;
}

.rpl-des h3 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.rpl-des ul {
    width: 100%;
    padding-left: 0;
}

.rpl-des ul li {
    padding: 5px 0px;
    list-style: none;
}

.rpl-des ul li a {
    color: #fff;
}

.rpl-des ul li:hover a {
    text-decoration: none;
    color: #cd4236;
}

.rpl-card .rpl-des ul li {
    display: none;
}

.rpl-card:hover .rpl-des {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 25px;
    color: #fff;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
}

.rpl-card:hover .rpl-des h3 {
    display: none;
}

.rpl-card:hover .rpl-des ul li {
    display: block;
}

.rpl-card .find {
    position: absolute;
    margin: 15px 0px;
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 12px;
    bottom: 15px;
    right: 39%;
    left: 39%;
    text-align: center;
}

.rpl-card .qualifications {
    padding: 12px 10px;
    right: 32% !important;
    left: 32% !important;
}

.find:hover {
    background-color: #fff;
    color: #cd4236;
}

.service_box {
    margin: 20px 0;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
    background: #cd4236;
    transition: all 0.3s ease 0s;
}

.service_box:hover {
    background: #1c375b;
}

.service_box .service_icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 35px;
    background: #fff;
    line-height: 70px;
    border-radius: 50px;
    transform: translateY(0);
    transition: all 0.3s ease 0s;
}

.service_box:hover .service_icon {
    transform: translateY(-100%);
}

.service_box .service_icon i {
    color: #333;
}

.service_box h3 {
    position: relative;
    top: 40px;
    margin: 0;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    transform: translateY(0%);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.service_box:hover h3 {
    top: -40px;
}

.service_box p {
    color: #fff;
    margin: 0;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.service_box:hover p {
    opacity: 1;
}

.itec-bg-img {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.migration {
    background-image: url("../images/slider1.jpg");
}

.australia {
    background-image: url("../images/BG/bg-parallax7.jpg");
}

.europe {
    background-image: url("../images/BG/bg-parallax7-europe.jpg");
}

.malaysia {
    background-image: url("../images/BG/bg-parallax7-malaysia.jpg");
}

.works {
    display: block;
    position: relative;
}

.works .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #1c375b;
}

.inner-text {
    margin: 50px 0px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
}

#migration-form select {
    color: #7d7d7d;
    height: calc(1.5em + 0.75rem + 22px);
}

.works .content-box {
    width: 100%;
    height: 350px;
    padding: 25px 15px;
    margin-top: 15px auto;
    text-align: justify;
}

.works .content-box h4 {
    font-weight: 600;
}

.card:hover a {
    text-decoration: none;
}

#contactForm {
    padding-left: 60px;
}

#contactForm .form-control {
    color: #1c375b !important;
}

#contactForm textarea {
    resize: none;
}

.contact-img {
    width: 100%;
    height: 550px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.contact-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.gallary ul li {
    width: 24.999%;
    padding: 10px !important;
    margin-top: 0px !important;
}

.contact-card-inner {
    padding: 90px 15px;
}

.contact-card-right {
    background-color: #1c375b;
    background-image: url("../images/contact2.jpg");
    color: #fff;
    background-blend-mode: multiply;
}

.blog-card {
    height: 480px;
    margin: 15px auto;
}

.blog-card img {
    max-height: 280px;
}

.industry-card {
    display: none;
}

#load,
#load2 {
    margin: 25px auto;
    padding: 15px 30px;
    border: transparent;
    background-color: #1c375b;
    color: #fff;
}

.load-rpl {
    background-color: #fff !important;
    color: #1c375b !important;
}

.other {
    display: none;
}

.touch-btn {
    width: 100%;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}

.touch-btn:hover {
    background-color: #fff !important;
    color: #1c375b !important;
}

.accordion button h4 {
    font-size: 1.2rem;
    color: #1c375b;
    font-weight: 600;
}

.accordion button:hover,
button:active,
button:focus {
    text-decoration: none;
}

.accordion .card-body h5 {
    color: #cd4236;
}

.accordion .card-body {
    color: #212529;
}

.accordion .card-body ul li {
    list-style: none;
}

.accordion .card-body ul li::before {
    content: "\2713";
    color: #cd4236;
    margin-right: 5px;
}

.itec-list {
    display: block !important;
    margin: 0px !important;
}

.itec-list li {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 10px 0px !important;
}

.section-new {
    text-align: left;
    margin-top: 150px;
}

.pt-250 {
    padding-top: 250px;
}

.shadow-0 {
    box-shadow: none !important;
}

.rto-slider {
    overflow: hidden;
    text-align: center;
}

.rto-slider img {
    max-width: 150px !important;
}

.bg-gray {
    background: #f2f2f2 !important;
}

.bg-logo-primary {
    background: #1c375b !important;
}

.bg-logo-secondary {
    background: #cd4236 !important;
}

.apply-form {
    border: 1px solid #1c375b;
    padding: 100px 50px;
}

.apply-form .form-control {
    color: #cd4236;
}

.itec-services a {
    text-decoration: none;
    color: #fff;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-color: #cd4236 !important;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(205, 66, 54, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(205, 66, 54, 0.6) !important;
    outline: 0 none !important;
}

.pt-15 {
    padding-top: 15rem !important;
}

/* .modal-dialog {
    width: 600px !important;
} */

.modal-content {
    background: #1c375b !important;
}

.modal-body {
    border: 2px solid #cd4236 !important;
}

.popup-img {
    position: relative !important;
}

.popup-title {
    color: #fff !important;
    text-align: center !important;
}

.popup h2 {
    font-size: 48px !important;
    font-weight: 600 !important;
}

.popup-title p span {
    color: #cd4236 !important;
    font-size: 1.2rem !important;
    font-weight: 600;
}

.popup-form .form-group label {
    color: #fff !important;
}

.popup-form button[type="submit"] {
    border: 1px solid #cd4236 !important;
}

.popup-form button[type="submit"]:hover {
    background: #cd4236 !important;
}

.popup-form .btn-popup {
    display: flex;
    justify-content: center;
}

.popup {
    position: absolute !important;
    z-index: 1000 !important;
    right: 10px !important;
    top: 8px !important;
    color: #fff !important;
}

.close {
    text-shadow: none !important;
    opacity: 1 !important;
}

/*
=================================================
--------------RPL MODAL DESIGN-------------------
=================================================
*/
.rpl-modal-close {
    position: absolute;
    top: -28px;
    right: -28px;
    color: #fff;
    font-size: 16px;
    border: 2px solid #cd4236;
    padding: 5px 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #1c375b;
}

.rpl-modal-content {
    padding: 60px;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #cd4236;
}

.rpl-modal-form {
    display: none;
    font-size: 14px !important;
}

.rpl-modal-form fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}

.rpl-modal-form fieldset:not(:first-of-type) {
    display: none;
}

.form-card {
    padding-top: 45px;
}

.fieldlabels {
    color: #fff;
    padding-bottom: 15px;
    text-align: left !important;
}

#rpl-form input[type="text"],
#rpl-form input[type="email"],
#rpl-form select,
#rpl-form-2 input[type="text"],
#rpl-form-2 input[type="email"],
#rpl-form-2 select {
    border: 1px solid #ccc;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    color: #2c3e50;
    background-color: #eceff1;
    font-size: 12px !important;
    letter-spacing: 1px;
}

.exp-lbl {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border: 1.5px solid #cd4236 !important;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.exp-lbl img {
    max-width: 75px !important;
}

.radio {
    padding: 25px 0px;
}

.radio input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ label {
    color: #fff !important;
    background-color: #cd4236 !important;
    border: 1.5px solid #cd4236 !important;
}

.next,
.previous,
.rpl-form-submit {
    height: 48px !important;
    font-size: 16px !important;
    padding: 10px 35px !important;
    background: transparent !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    text-align: center !important;
}

/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px),
    only screen and (max-device-width: 991px) {
    .rpl-modal-content {
        padding: 30px;
    }

    #rpl-form input,
    #rpl-form textarea,
    #rpl-form select {
        font-size: 12px;
    }

    .exp-lbl img {
        max-width: 50px !important;
    }
}

/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px),
    only screen and (max-device-width: 767px) {
    .fieldlabels {
        font-size: 12px;
    }

    .rpl-modal-content {
        padding: 30px;
    }

    #rpl-form input[type="text"],
    #rpl-form input[type="email"],
    #rpl-form textarea,
    #rpl-form select {
        font-size: 12px;
    }

    .radio {
        padding: 5px 0px;
    }

    .exp-lbl {
        padding: 10px;
        font-size: 12px;
    }

    .form-card {
        padding: 0;
    }

    .next,
    .previous,
    .rpl-form-submit {
        font-size: 12px !important;
        padding: 5px 20px !important;
    }

    .exp-lbl img {
        max-width: 50px !important;
    }
}

.submit-loader {
    display: none;
    visibility: hidden;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 0.8s ease-in;
}

.submit-loader h4 {
    padding: 30px 0px;
}

.visible {
    visibility: visible;
    display: block;
    opacity: 1;
}

.submit-success {
    display: none;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 0.8s ease-in;
}

.submit-success img {
    max-width: 200px;
}

/*
====> Check your Eligibility Form Styles
*/
.rpl-form-heading {
    text-transform: uppercase !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding-bottom: 25px !important;
}

.rpl-form-padding {
    padding: 0px 25px !important;
}

.progress-bg-2 {
    background-color: rgba(255, 255, 255, 0.3) !important;
    margin-bottom: 25px !important;
}

.rpl-form-control-box {
    padding-bottom: 20px !important;
    text-align: left !important;
}

.rpl-form-control {
    width: 100% !important;
    display: block !important;
    background: transparent !important;
    color: #fff !important;
    margin: 15px 0px !important;
    padding: 20px !important;
    height: 45px !important;
}

.rpl-form-select {
    padding: 10px !important;
}

.rpl-form-select option {
    background: #1c375b !important;
}

.rpl-form-textarea {
    resize: none !important;
    height: 100% !important;
}

#file {
    display: none;
}

.rpl-form-file {
    border: 1px dashed #cd4236 !important;
    padding: 35px !important;
    width: 100% !important;
    text-align: center !important;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.rpl-form-file:hover {
    background: rgba(205, 66, 54, 0.3) !important;
}

.exp-lbl-red {
    border: 1px solid #cd4236 !important;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    z-index: 200000;
    overflow: hidden;
    transition: 0.3s all;
    visibility: hidden;
    opacity: 0;
}

.show-lds {
    visibility: visible;
    opacity: 0.5;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.img-bg {
    background-size: cover;
    background-position: center center;
}

.img-bg-1 {
    background-image: url(../../images/BG/ab-1.webp);
}

.img-bg-2 {
    background-image: url(../../images/BG/rpl-1.webp);
}

.img-bg-3 {
    background-image: url(../../images/BG/study-1.webp);
}

.img-bg-4 {
    background-image: url(../../images/BG/training-1.webp);
}

.img-bg-5 {
    background-image: url(../../images/BG/training-2.webp);
}

.img-bg-6 {
    background-image: url(../../images/BG/mg-1.webp);
}

.img-bg-7 {
    background-image: url(../../images/BG/blog-1.webp);
}

.img-bg-8 {
    background-image: url(../../images/BG/contact-1.webp);
}
.img-bg-9 {
    background-image: url(../../images/BG/rpl-bg.webp);
}

.rpl-check-section {
    background-color: #cd4236;
    width: 100%;
}

.check-rpl-link
{
    height: 45px;
    border: 1px solid #cd4236 !important;
    background: #cd4236 !important;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 14px;
}

.check-rpl-link:hover {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #cd4236;
    text-decoration: none;
}

.check-rpl-link-2 {
    height: 45px;
    border: 1px solid #1C375B !important;
    background: #1C375B !important;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 14px;
}

.check-rpl-link-2:hover {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #1C375B;
    text-decoration: none;
}

.rpl-step-item {
    color: #fff !important;
    background-color: rgb(220 123 115) !important;
    border-color: none;
}

.rpl-step-item .section-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.rpl-step-image {
    width: 60px;
}

.rpl-step-item p {
    font-size: 14px;
}

.blue-btn {
    margin: 25px auto;
    padding: 15px 30px !important;
    border: transparent;
    background-color: #1c375b;
    color: #fff;
    font-size: 17px;
}
