/*
========================================================================
CUSTOM CSS STARTS HERE
========================================================================
*/
.rpl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
    background: #fff;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
}

.rpl-card {
    width: 415px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
}

.rpl-card img {
    width: 100%;
    display: block;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}

.rpl-card:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.rpl-des {
    position: absolute;
    width: 100%;
    height: 350px;
    bottom: 0;
    padding: 25px;
    color: #fff;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transition: all 0.3s ease-out;
}

.rpl-des h3 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.rpl-des ul {
    width: 100%;
    padding-left: 0;
}

.rpl-des ul li {
    padding: 5px 0px;
    list-style: none;
}

.rpl-des ul li a {
    color: #fff;
}

.rpl-des ul li:hover a {
    text-decoration: none;
    color: #CD4236;
}

.rpl-card .rpl-des ul li {
    display: none;
}

.rpl-card:hover .rpl-des {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 25px;
    color: #fff;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
}

.rpl-card:hover .rpl-des h3 {
    display: none;
}

.rpl-card:hover .rpl-des ul li {
    display: block;
}

.rpl-card .find {
    position: absolute;
    margin: 15px 0px;
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 12px;
    bottom: 15px;
    right: 39%;
    left: 39%;
    text-align: center;
}

.rpl-card .qualifications {
    padding: 12px 10px;
    right: 32% !important;
    left: 32% !important;
}

.find:hover {
    background-color: #fff;
    color: #CD4236;
}

.rpl-form {
    padding-top: 45px;
    padding-right: 45px;
}

@media (min-width: 1300px) {
    .rpl-form {
        max-width: 1140px;
    }
}

.rpl-form select {
    height: calc(1.5em + .75rem + 22px);
}

.form-control {
    color: #fff;
    border: 1px solid #eee;
    border-radius: 0px !important;
    background-color: transparent;
}

.form-control:focus {
    color: #fff;
    border-radius: 0px !important;
    background-color: transparent;
}

.all-cases .inner .rpl-form {
    display: block;
    max-height: 650px;
    overflow-y: scroll;
}

.rpl-btn {
    margin: 25px;
    border: 1px solid #fff;
    padding: 10px 35px;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.rpl-btn:hover {
    color: #1C375B;
    background-color: #fff;
}

input[type="file"] {
    height: 58px;
    padding: 1rem 0.75rem;
    display: none;
}

.rpl-files label {
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    height: 58px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
}

.rpl-form ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    /* Firefox */
}

.rpl-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.2);
}

.rpl-form ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.2);
}

.rpl-form select {
    color: rgba(255, 255, 255, 0.2);
}

.rpl-form option {
    color: #fff;
}

.rpl-form select option:first-child {
    color: rgba(0, 0, 0, 0.3);
}

.service_box {
    margin: 20px 0;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
    background: #CD4236;
    transition: all 0.30s ease 0s;
}

.service_box:hover {
    background: #1C375B;
}

.service_box .service_icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 35px;
    background: #fff;
    line-height: 70px;
    border-radius: 50px;
    transform: translateY(0);
    transition: all 0.30s ease 0s;
}

.service_box:hover .service_icon {
    transform: translateY(-100%);
}

.service_box .service_icon i {
    color: #333;
}

.service_box h3 {
    position: relative;
    top: 40px;
    margin: 0;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    transform: translateY(0%);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.service_box:hover h3 {
    top: -40px;
}

.service_box p {
    color: #fff;
    margin: 0;
    opacity: 0;
    transition: all 0.30s linear 0s;
}

.service_box:hover p {
    opacity: 1;
}

.itec-bg-img {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.migration {
    background-image: url('../images/slider1.jpg');
}

.australia {
    background-image: url('../images/BG/bg-parallax7.jpg');
}

.europe {
    background-image: url('../images/BG/bg-parallax7-europe.jpg');
}

.malaysia {
    background-image: url('../images/BG/bg-parallax7-malaysia.jpg');
}

.works {
    display: block;
    position: relative;
}

.works .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #1C375B;
}

.inner-text {
    margin: 50px 0px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
}

#migration-form select {
    color: #7d7d7d;
    height: calc(1.5em + .75rem + 22px);
}

.works .content-box {
    width: 100%;
    height: 350px;
    padding: 25px 15px;
    margin-top: 15px auto;
    text-align: justify;
}

.works .content-box h4 {
    font-weight: 600;
}

.card:hover a {
    text-decoration: none;
}

#contactForm {
    padding-left: 60px;
}

#contactForm .form-control {
    color: #1C375B !important;
}

#contactForm textarea {
    resize: none;
}

.contact-img {
    width: 100%;
    height: 550px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.contact-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.gallary ul li {
    width: 24.999%;
    padding: 10px !important;
    margin-top: 0px !important;
}

.contact-card-inner {
    padding: 90px 15px;
}

.contact-card-right {
    background-color: #1C375B;
    color: #fff;
}

.blog-card {
    height: 480px;
    margin: 15px auto;
}

.blog-card img {
    max-height: 280px;
}

.industry-card {
    display: none;
}

#load,
#load2 {
    margin: 25px auto;
    padding: 15px 30px;
    border: transparent;
    background-color: #1C375B;
    color: #fff;
}

.load-rpl {
    background-color: #fff !important;
    color: #1C375B !important;
}

.other_ind {
    display: none;
}

.other_course {
    display: none;
}

.touch-btn {
    width: 100%;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}

.touch-btn:hover {
    background-color: #fff !important;
    color: #1C375B !important;
}

.accordion button h4 {
    font-size: 1.2rem;
    color: #1C375B;
    font-weight: 600;
}

.accordion button:hover,
button:active,
button:focus {
    text-decoration: none;
}

.accordion .card-body h5 {
    color: #CD4236;
}

.accordion .card-body {
    color: #212529;
}

.accordion .card-body ul li {
    list-style: none;
}

.accordion .card-body ul li::before {
    content: "\2713";
    color: #CD4236;
    margin-right: 5px;
}

.itec-list {
    display: block !important;
    margin: 0px !important;
}

.itec-list li {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 10px 0px !important;
}

.section-new {
    text-align: left;
    margin-top: 150px;
}

.pt-250 {
    padding-top: 250px;
}

.shadow-0 {
    box-shadow: none !important;
}

.rto-slider {
    overflow: hidden;
    text-align: center;
}

.rto-slider img {
    max-width: 150px !important;
}

.bg-gray {
    background: #F2F2F2 !important;
}

.bg-logo-primary {
    background: #1C375B !important;
}

.bg-logo-secondary {
    background: #CD4236 !important;
}

.apply-form {
    border: 1px solid #1C375B;
    padding: 100px 50px;
}

.apply-form .form-control {
    color: #CD4236;
}

.itec-services a {
    text-decoration: none;
    color: #fff;
}


textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-color: #CD4236 !important;
}


textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(205, 66, 54, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(205, 66, 54, 0.6) !important;
    outline: 0 none !important;
}

.pt-15 {
    padding-top: 15rem !important;
}

.modal-dialog {
    width: 600px !important;
}

.modal-content {
    background: #1C375B !important;
}

.modal-body {
    border: 2px solid #CD4236 !important;
}

.modal-content {
    background: rgba(255, 255, 255, 0.3) !important;
}

.popup-img {
    position: relative !important;
}

.popup-title {
    color: #fff !important;
    text-align: center !important;
}

.popup h2 {
    font-size: 48px !important;
    font-weight: 600 !important;
}

.popup-title p span {
    color: #CD4236 !important;
    font-size: 1.2rem !important;
    font-weight: 600;
}

.popup-form .form-group label {
    color: #fff !important;
}

.popup-form button[type="submit"] {
    border: 1px solid #CD4236 !important;
}

.popup-form button[type="submit"]:hover {
    background: #CD4236 !important;
}

.popup-form .btn-popup {
    display: flex;
    justify-content: center;
}

.popup {
    position: absolute !important;
    z-index: 1000 !important;
    right: 10px !important;
    top: 8px !important;
    color: #fff !important;
}

.close {
    text-shadow: none !important;
    opacity: 1 !important;
}